@{
    ViewBag.Title = "Reset password confirmation";
}


<!-- ============================ OLD PAGE ================================= -->
@*<hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>*@

<!-- ============================ OLD PAGE END ================================= -->
<!-- ============================ NEW PAGE ================================= -->

<div class="container padding-bottom-3x ml-5 mb-2 mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="forgot">
                <h2>@ViewBag.Title</h2>
                <br />
                <p>Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
            </div>
        </div>
    </div>
</div>

<!-- ============================ NEW PAGE END ================================= -->
