
/* colors var */


/* -------------------- price filter slider -------------------- */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 50%;
}

.ui-widget-content {
    background: #dddddd !important;
}

.ui-widget-header {
    background: var(--primary);
    /*background: #f6931f;*/
}

/* -------------------- stars rating system -------------------- */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
}

.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 35px;
    /*color: var(--primary);*/
}

.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
    cursor: pointer;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: var(--primary);
}

.rating > span.hovered {
color: var(--primary);
}

.rating > span.hovered:hover {
    color: transparent;
    cursor: pointer;
}

.rating > span.hovered:before,
.rating > span.hovered ~ span {
    color: var(--primary);
}