
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminTemplate/_Layout_Admin.cshtml";

    Page.Title = "Index";
}

@section head
{
    @* bootstrap icons for alerts *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
}

@* Show toast if error msg *@
@if (TempData["role_error"] != null)
{
    <!-- Error Alert -->
    <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
        <i class="bi-exclamation-octagon-fill"></i>
        <strong class="mx-2">Error!</strong> @TempData["role_error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@* Check the stats data  *@
<a href="@Url.Action("Stats", "Admin")">Stats</a>

<!-- ============================================================== -->
<!-- Three charts -->
<!-- ============================================================== -->
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Clients</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span id="totalClients" class="counter text-success border-top border-success" style="border-radius: 50%; padding:2px">659</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Admins</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash2">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span id="totalAdmins" class="counter text-purple border-top border-purple" style="border-radius: 50%; padding:8px">869</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info">
            <h3 class="box-title">Unique Products</h3>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash3">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto">
                    <span id="totalProducts" class="counter text-info border-top border-info" style="border-radius: 50%; padding:8px">911</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!---->
<!-- ============================================================== -->
<div class="row">
    <div class="col-6">
        <div class="white-box">
            <h3 class="box-title">Users</h3>
            <div class="d-flex justify-content-center">
                <canvas id="users" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="white-box">
            <h3 class="box-title">Products</h3>
            <div class="d-flex justify-content-center">
                <canvas id="products" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="white-box">
            <h3 class="box-title">Products By Categories</h3>
            <div class="d-flex justify-content-center">
                <canvas id="products_by_category" style="width:100%;max-width:700px"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->



@section scripts
{
    @* ChartJs ccdn *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    @* custom js *@
    <script src="~/Scripts/Custom/Statistics.js">
    </script>
}